@using FD_CP_BTP;
@{
    AppLayoutModel app = new AppLayoutModel();
    app = app.Get(Context);
    string CDNRootPath = Startup.Configuration["AppCssCDNPath"].ToString();
    string WA_FD_PAYMENT_RECO = Startup.Configuration["WA_FD_PAYMENT_RECO"].ToString();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title id="MahindraFinance">Mahindra Finance Fixed Deposit Channel Partner Support Application</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    @*<link href="~/style/basic.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/css/applayout.min.css" />
    <link rel="stylesheet" href="~/css/modal.min.css" />
    <script src="~/js/jquery.min.js"></script>
    @RenderSection("Styles", required: false)


</head>
<body class="hold-transition fixed">
    <div id="preloader">
        <div class="overlay">
            <p>
                Loading
                <span class="spinner"></span>
            </p>
        </div>
    </div>
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle -->
                    <div class="navbar-header">
                        <i class="demo-icon icon-menu navbar-toggle collapsed pull-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">&#xf0c9;</i>
                        <a class="navbar-brand" href="#">
                            <img src="~/images/MF-logo.png" class="img-responsive" />
                        </a>
                    </div>

                    <!-- Desktop Profile -->
                    <div class="collapse navbar-collapse desktop-profile">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="user-detail dropdown" style="border: none !important;">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <label class="name">
                                        Welcome <span id="lblUserName">@app.EntityName</span>
                                    </label>
                                    <label id="lblLoginDateTime" class="user-detail-style">
                                        @app.LastLoginDateTime
                                    </label>
                                    <span class="caret pull-right"></span>
                                    <div style="margin-top: 5px;">
                                        <label id="lbl_SapCode" class="user-detail-style">
                                            @app.SapCode
                                        </label>
                                        |
                                        <label id="lblCompany" class="user-detail-style">
                                            @app.Company
                                        </label>
                                        |
                                        <label id="lbl_OprnCategory" class="user-detail-style">
                                            @*@app.Oprn_Category*@
                                        </label>
                                        |
                                        <label id="lbl_Branchcode" class="user-detail-style">
                                            @app.BranchCode
                                        </label>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" style="padding: 10px 15px;">
                                    <li><strong>Department</strong> :</li>
                                    <li>
                                        <label id="lblDeparment" style="font-size:12px">
                                            @app.DepartmentName
                                        </label>
                                    </li>
                                    <li>
                                        <label id="lblLastLoginDate" style="font-size:12px">
                                            @app.LastLoginDate
                                        </label>
                                    </li>
                                    <li>
                                        <label id="lblLastLoginTime" style="font-size:12px">
                                            @app.LastLoginTime
                                        </label>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <label id="txtApplicationName">@app.AppName</label>
                                </a>
                            </li>
                            <li>
                                <a id="lnkHome" asp-area="" asp-controller="Home" asp-action="Home"><i class="demo-icon icon-home">&#xe802;</i>Home</a>
                            </li>
                            <li>
                                <a id="lnkLogout" asp-area="" asp-controller="Home" asp-action="LogOut"><i class="demo-icon icon-off">&#xe804;</i>Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <!-- Second Navigation -->
            <nav class="navbar second-navbar">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <!-- Mobile Profile -->
                    <ul class="nav mobile-profile">
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="Home"><i class="demo-icon icon-home">&#xe802;</i>Home</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="LogOut"><i class="demo-icon icon-off">&#xe804;</i>Logout</a>
                        </li>
                    </ul>
                    @{
                        await Html.RenderPartialAsync("~/Views/Partial_View/AppMenus.cshtml", app.AppMenu);
                    }
                </div>
            </nav>
        </header>
        <div class="content-wrapper">
            <div class="options">
                <div class="alert alert-red">
                    <p>
                        Application Message Center :
                        <label id="lblErrormsg" />
                    </p>
                </div>
            </div>
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="container-fluid">
                <p class="pull-left">&copy; 2018 Mahindra Finance</p>
            </div>
        </footer>
    </div>
    @RenderSection("Scripts", required: false)
    <script src="@String.Concat(CDNRootPath,"js/app.js")"></script>
    <script src="~/js/applayout.min.js"></script>
    <script>
        var WA_FD_PAYMENT_RECO = '@String.Concat(WA_FD_PAYMENT_RECO)';
    </script>
</body>
</html>